
*{
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  height: 100%
}

#title-side {
  width: 50%;
  min-height: 100vh;
  background-color: #455A64;
  display: block;
}

#title-side-contents {
  display: block;
  margin: auto;
  margin-top: 25%;
}

#title-logo {
  padding-top: 50px;
  text-align: center;
}

h1 {
  text-align: center;
}

.title {
  color: #FFFFFF;
  font-size: 54px;
  font-weight: 800;
}

#logo {
  width: 85px;
  height: 55px;
  margin: 1px 10px;
}

.user-input {
  height: 37px;
  width: 86%;
  display: block;
  margin: 30px auto 50px auto;
  background-color: white;
  font-size: 25px;
}

button {
  border: 0px;
  display: block;
}

#btn-enter {
  height: 37px;
  width: 87%;
  margin: 30px auto;
  background-color: #FFC107;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 700;
}

#btn-enter:hover {
background-color: #FFD773;
}

#btn-enter:disabled {
  background-color: #FFC107;
}

#logo {
  width: 70px;
}


/*CARD SIDE*/
#card-side {
  width: 50%;
  background-color: #CFD8DC;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 100vh;
  padding-bottom: 20px;
}

.card {
  width: 85%;
  height: 160px;
  background-color: #FFFFFF;
  color: #455A64;
  border: 2px solid #607D8B;
  padding: 0px 20px;
  margin-top: 20px;
}

hr {
  border: 0px;
  border-top: 2px solid #CFD8DC;
}

h2 {
  margin: 10px 0px 0px 0px;
  font-size: 28px;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

a {
  text-decoration: none;
}

p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#card-url {
  font-size: 18px;
  font-weight: 400;
  color: #607D8D;
  border-bottom: 1px solid #F2F4F4;
  margin: 0px;

}

#card-url:hover {
  font-weight: 800;
  border-bottom: 2px solid #FFC107;
}

#card-url.read {
  border-bottom: 2px solid #CFD8DC;
}

.card-btn {
  text-decoration: none;
  font-size: 14px;
  background-color: transparent;
  border: none;
  color: #455A64;
  border-bottom: 1px solid #CFD8DC;
  padding: 0px;
}

.card-btn:hover {
  font-weight: 800;
  border-bottom: 1px solid #FFC107;
}

.btn-read {
  float: left;
}

.btn-read.read {
  border: 0px;
  font-weight: 800;
  color: #F05A28;
}

.btn-remove {
  float: right;
}

.hide {
  display: none;
}

.read {
  background-color: #F2F4F4;
}


@media screen and (max-width: 900px) {
  body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  #title-side {
    width: 100%;
    min-height: auto;
  }

  #title-side-contents {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .title {
    font-size: 30px;
  }

  #logo {
    width: 35px;
    height: 20px;
  }

  .user-input {
    width: 50%;
    margin: 25px auto;
    font-size: 20px;
  }

  #btn-enter {
    width: 50%;
    margin: 30px auto;
    margin-bottom: 20px;
    font-size: 20px;
  }

  #card-side {
    width: 100%;
    min-height: 50vh;
    height: auto;
  }

  .card {
    width: 50%;
  }
}


@media screen and (max-width: 600px) {
  .user-input {
    width: 90%;
  }

  #btn-enter {
    width: 90%;
  }

  .card {
    width: 90%;
    max-width: 90%;
    margin: 20px 10px 0px 10px;
  }
}
