
*{
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
}

#title-side {
  width: 50%;
  height: 100vh;
  display: block;
  background-color: #455A64;
}

#title-logo {
  width: 86%;
  margin-top: 150px;
  margin-bottom: 50px;
  margin: auto;
  text-align: center;
}

.title {
  color: #FFFFFF;
  font-size: 54px;
  font-weight: 800;

}

#logo {
  width: 85px;
  height: 55px;
  margin: 1px 10px;
}

#input-title {
  height: 37px;
  width: 86%;
  display: block;
  margin: 30px auto 50px;
  background-color: white;
  font-size: 25px;
}

#input-url {
  height: 37px;
  width: 86%;
  display: block;
  margin: 30px auto 50px;
  background-color: white;
  font-size: 25px;
}

button {
  border: 0px;
  display: block;
}

#btn-enter {
  height: 37px;
  width: 87%;
  margin: 30px auto;
  background-color: #FFC107;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 700;
}

#logo {
  width: 70px;
}

#card-side {
  width: 50%;
  background-color: #CFD8DC;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  height: 100vh;
}

.card {
  width: 85%;
  height: 160px;
  background-color: #FFFFFF;
  color: #455A64;
  border: 2px solid #607D8B;
  padding: 0px 20px;
  margin-top: 20px;
}

hr {
  border: 0px;
  border-top: 2px solid #CFD8DC;
}

h2 {
  margin-top: 10px;
  color: #455A64;
  font-size: 25px;
  font-weight: 800;
}

a {
  text-decoration: none;
}

#card-url {
  margin: 0px;
  font-weight: 400;
  color: #607D8D;
  border-bottom: 1px solid #F2F4F4;
}

#card-url:hover {
  font-weight: 800;
  border-bottom: 2px solid #FFC107;
}

.card-btn {
  text-decoration: none;
  font-size: 14px;
  background-color: #FFFFFF;
  border: none;
  color: #455A64;
  border-bottom: 1px solid #CFD8DC;
  padding: 0px;
}

.card-btn:hover {
  font-weight: 800;
  border-bottom: 1px solid #FFC107;
}

#btn-read {
  float: left;
}

#btn-remove {
  float: right;
}
